.well-todo{
    margin-bottom: 0px;
    border-radius: 0px;
}
.input-todo{
    border-radius: 0px;
}
.button-todo{
    border-radius: 0px;
}
.fafa-todo{
    padding: 13px 0px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 12px;
    margin-bottom: 10px;
}