h1{
    color: green;
}
.well-todo{
    margin-bottom: 0px;
    border-radius: 0px;
}
.input-todo{
    border-radius: 0px;
}
.button-todo{
    border-radius: 0px;
}
.fafa-todo{
    padding: 24px 0px;
}